@model MvcindentityBank.Models.ViewsModels.LoginModel

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        <h4>Login Form</h4>
        <hr />
        @Html.ValidationSummary()
        <div>
            @Html.DisplayNameFor(m => m.Email)
            @Html.DisplayFor(m => m.Email)
        </div>
        <div>
            @Html.DisplayNameFor(m => m.Password)
            @Html.DisplayFor(m => m.Password)
        </div>
        
        <div>
            <input type="submit" value="Log Me Pls!" />
        </div>
        <div>
            <input type="reset" value="Clear form" />
        </div>
    </div>
}
